In [2]:
! pip install nltk

Requirement already satisfied: nltk in c:\users\leela\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\leela\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\leela\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\leela\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\leela\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\leela\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

## Import the data 

Link to data - https://www.kaggle.com/datasets/mdismielhossenabir/sentiment-analysis/data

In [3]:
import pandas as pd 
import numpy as np

In [16]:
df = pd.read_csv('sentiment_analysis.csv')

In [5]:
df

,Year,Month,Day,Time of Tweet,text,sentiment,Platform
0,2018,8,18,morning,What a great day!!! Looks like dream.,positive,Twitter
1,2018,8,18,noon,"I feel sorry, I miss you here in the sea beach",positive,Facebook
2,2017,8,18,night,Don't angry me,negative,Facebook
3,2022,6,8,morning,We attend in the class just for listening teac...,negative,Facebook
4,2022,6,8,noon,"Those who want to go, let them go",negative,Instagram
...,...,...,...,...,...,...,...
494,2015,10,18,night,"According to , a quarter of families under six...",negative,Twitter
495,2021,2,25,morning,the plan to not spend money is not going well,negative,Instagram
496,2022,5,30,noon,uploading all my bamboozle pictures of facebook,neutral,Facebook
497,2018,8,10,night,congratulations ! you guys finish a month ear...,positive,Twitter
498,2019,3,25,morning,"actually, I wish I was back in Tahoe. I miss...",negative,Instagram

In [17]:
df['sentiment'].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [18]:
df['sentiment'].value_counts()

sentiment
neutral     199
positive    166
negative    134
Name: count, dtype: int64

In [19]:
df = df[['text','sentiment']]

In [20]:
df

                                                  text sentiment
0                What a great day!!! Looks like dream.  positive
1       I feel sorry, I miss you here in the sea beach  positive
2                                       Don't angry me  negative
3    We attend in the class just for listening teac...  negative
4                    Those who want to go, let them go  negative
..                                                 ...       ...
494  According to , a quarter of families under six...  negative
495      the plan to not spend money is not going well  negative
496    uploading all my bamboozle pictures of facebook   neutral
497   congratulations ! you guys finish a month ear...  positive
498   actually, I wish I was back in Tahoe.  I miss...  negative

[499 rows x 2 columns]

## using Vader and SIA

In [25]:
import nltk
from datasets import load_dataset
from nltk.sentiment import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\leela\AppData\Roaming\nltk_data...

In [ ]:
nltk.download('vader_lexicon')

### Understanding SIA

In [26]:
sentence = "This movie was amazing, but the acting was a bit disappointing."
sentiment_scores = sia.polarity_scores(sentence)
print(sentiment_scores)

{'neg': 0.293, 'neu': 0.544, 'pos': 0.163, 'compound': -0.4404}

In [27]:
def analyze_sentiment_nltk(review):
    score = sia.polarity_scores(review)
    final_score = score['compound']
    if final_score > 0.4:
        return 'positive'
    elif final_score >= -0.3 and final_score <= 0.4:
        return 'neutral'
    else :
        return 'negative'

In [29]:
df['predicted_sentiment_nltk'] = df['text'].apply(analyze_sentiment_nltk)

In [30]:
df

,text,sentiment,predicted_sentiment_nltk
0,What a great day!!! Looks like dream.,positive,positive
1,"I feel sorry, I miss you here in the sea beach",positive,neutral
2,Don't angry me,negative,positive
3,We attend in the class just for listening teac...,negative,neutral
4,"Those who want to go, let them go",negative,neutral
...,...,...,...
494,"According to , a quarter of families under six...",negative,negative
495,the plan to not spend money is not going well,negative,neutral
496,uploading all my bamboozle pictures of facebook,neutral,negative
497,congratulations ! you guys finish a month ear...,positive,positive
498,"actually, I wish I was back in Tahoe. I miss...",negative,neutral

In [31]:
df['prediction_correctness_nltk'] = np.where(df['sentiment']==df['predicted_sentiment_nltk'],1,0)

In [32]:
df

,text,sentiment,predicted_sentiment_nltk,prediction_correctness_nltk
0,What a great day!!! Looks like dream.,positive,positive,1
1,"I feel sorry, I miss you here in the sea beach",positive,neutral,0
2,Don't angry me,negative,positive,0
3,We attend in the class just for listening teac...,negative,neutral,0
4,"Those who want to go, let them go",negative,neutral,0
...,...,...,...,...
494,"According to , a quarter of families under six...",negative,negative,1
495,the plan to not spend money is not going well,negative,neutral,0
496,uploading all my bamboozle pictures of facebook,neutral,negative,0
497,congratulations ! you guys finish a month ear...,positive,positive,1
498,"actually, I wish I was back in Tahoe. I miss...",negative,neutral,0

In [33]:
df['prediction_correctness_nltk'].value_counts()

prediction_correctness_nltk
1    323
0    176
Name: count, dtype: int64

## Using textblob

In [36]:
! pip install textblob

Requirement already satisfied: textblob in c:\users\leela\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\leela\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\leela\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\leela\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\leela\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\leela\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\leela\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [37]:
from textblob import TextBlob

In [38]:
def analyze_sentiment_textblob(review):
    blob = TextBlob(review)
    if blob.sentiment.polarity >= 0.4:
        return 'positive'
    elif blob.sentiment.polarity >= -0.3 and blob.sentiment.polarity <= 0.4:
        return 'neutral'
    else : 
        return 'negative'

In [11]:
analyze_sentiment_textblob('This is a good movie')

NameError: name 'analyze_sentiment_textblob' is not defined

In [39]:
df['predicted_sentiment_textblob'] = df['text'].apply(analyze_sentiment_textblob)

In [ ]:
df['prediction_correctness_textblob'] = np.where(df['sentiment']==df['predicted_sentiment_textblob'],1,0)

In [40]:
df

,text,sentiment,predicted_sentiment_nltk,prediction_correctness_nltk,predicted_sentiment_textblob
0,What a great day!!! Looks like dream.,positive,positive,1,positive
1,"I feel sorry, I miss you here in the sea beach",positive,neutral,0,negative
2,Don't angry me,negative,positive,0,negative
3,We attend in the class just for listening teac...,negative,neutral,0,neutral
4,"Those who want to go, let them go",negative,neutral,0,neutral
...,...,...,...,...,...
494,"According to , a quarter of families under six...",negative,negative,1,neutral
495,the plan to not spend money is not going well,negative,neutral,0,neutral
496,uploading all my bamboozle pictures of facebook,neutral,negative,0,neutral
497,congratulations ! you guys finish a month ear...,positive,positive,1,neutral
498,"actually, I wish I was back in Tahoe. I miss...",negative,neutral,0,neutral

In [41]:
df['prediction_correctness_textblob'].value_counts()

KeyError: 'prediction_correctness_textblob'